html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main-content main{
  height: 100%;
  padding: 40px 30px;
}
/* Sidebar */
.sidebar-logo{
  display: inline;
}
.btn-toggle{
  margin-right: 10px;
}
.layout-main{
  padding: 30px;
}
.pagination{
  list-style: none;
  li{
    display: inline-block;
    margin: 0 5px;
  }
}
